* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.background {
  background-color: #190422;
  height: 100vh;
  position: relative;
}

.background nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 4vw;
  /* position: fixed; */
  width: 100vw;
}
.background nav img {
  width: 144px;
}
.background nav i {
  display: none;
}

.background nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.background nav ul li {
  font-size: 22px;
  overflow: hidden;
}
.background nav ul a {
  color: #fff;
  margin: 0 40px;
}
.background nav ul li a:hover {
  text-shadow: 0px 0px 5px #fff;
}
.background nav ul a:hover {
  text-shadow: 0px 0px 4px #000;
}

.background nav ul a li.button {
  background-color: #d7b9fd;
  color: #000;
  width: 132px;
  height: 58px;
  text-align: center;
  line-height: 59px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #000;
  margin: 0;
}

.background .hero {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.background .hero-info {
  width: 50vw;
  color: #fff;
  text-align: center;
  margin-left: 67px;
  margin-bottom: 5vh;
}

.background .hero-info .container {
  width: 50vw;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.background .hero-info h1 {
  font-size: 120px;
  display: block;
  margin: 0 auto;
}

.background .hero-info span {
  white-space: nowrap;
}
.background .hero-info p {
  font-size: 30px;
  margin-top: 32px;
  line-height: 39px;
  max-width: 30em;
}

.background .hero-info .button {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: 57px;
  text-align: center;
  width: 212px;
  height: 58px;
  color: #000;
  background-color: #d7b9fd;
  border-radius: 7px;
}
.background .hero-info .button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #000;
  text-shadow: 0px 0px 4px #000;
}

.background .hero-info .button i {
  margin-left: 3px;
  font-size: 24px;
}
.background .hero .hero-image {
  width: 50vw;
  text-align: center;
}

.background .hero .hero-image img {
  /* display: block; */
  object-fit: contain;
  width: 100%;
  height: 100vh;
  /* margin: auto; */
}

.statistics {
  width: 80vw;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: -5vh;
  left: 0;
  right: 0;
}

.statistics div {
  display: flex;
  flex-direction: column;
}

.statistics .number {
  font-size: 48px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.statistics .number .plus {
  color: #bc8afc;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.statistics .text {
  font-size: 20px;
  line-height: 50px;
}

.hero-2 {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-2 .hero-info {
  color: #000;
  text-align: center;
}

.hero-2 .hero-info .container {
  text-align: left;
  width: 50vw;
  padding-right: 1vw;
}
.hero-2 .hero-info .container .button {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: 57px;
  text-align: center;
  width: 212px;
  height: 58px;
  color: #000;
  background-color: #d7b9fd;
  border-radius: 7px;
}
.hero-2 .hero-info h1 {
  font-size: 60px;
  display: block;
  margin: 0 auto;
}

.hero-2 .hero-info span {
  white-space: nowrap;
}
.hero-2 .hero-info p {
  font-size: 25px;
  margin-top: 32px;
  line-height: 39px;
  max-width: 30em;
}

.hero-2 .hero-img {
  width: 50vw;
  text-align: center;
}

.hero-2 .hero-img img {
  width: 30vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 20px;
}

.service {
  height: 110vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.service .outline {
  height: 100%;
}

.service .outline h1 {
  font-size: 60px;
  margin-bottom: 80px;
  margin-left: 5%;
}

.service .container {
  display: flex;
  font-size: 2vw;
  flex-wrap: wrap;
  margin: auto;
  text-align: left;
  justify-content: center;
  gap: 10vw;
  row-gap: 10vh;
  line-height: 43px;
  height: 100%;
}

.service .container .content {
  width: 40vw;
}

.service .container .content .img-container {
  background-color: #190422;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 116px;
  border-radius: 50%;
}

.service .container .content .img-container img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.service .container .content .title {
  font-weight: 600;
  margin: 20px 0;
}

.download .background {
  height: 428px;
  position: relative;
}

.download::before {
  content: "";
  height: 40vh;
  display: block;
}

.download .background > img {
  width: calc(230px + 5vw);
  position: absolute;
  right: 10em;
  bottom: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.download .background .container {
  display: flex;
  justify-content: center;
  height: 100%;
  color: #fff;
  margin: auto 5em;
  flex-direction: column;
}
.download .background .container::after {
  content: "";
  width: calc(320px+10em);
}

.download .background .container .slogan {
  font-size: 3.3vw;
  width: calc(100vw - 40rem);
  font-weight: 600;
}

.download .background .platforms {
  gap: 3em;
  display: flex;
  margin-top: 3em;
}

.download .background .platforms img {
  height: 55px;
}

.benefits {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.benefits .hero-info {
  width: 50vw;
  color: #000;
  text-align: center;
}

.benefits .hero-info .container {
  text-align: left;
  width: 50vw;
}

.benefits .hero-info h1 {
  font-size: 6vw;
  display: block;
  margin: 0 auto;
}

.benefits .hero-info p {
  font-size: 2vw;
  margin-top: 25px;
  line-height: 39px;
  max-width: 26em;
}

.benefits .hero-info ul li {
  margin-top: 0.7em;
  font-size: 2vw;
  list-style: none;
  padding: 10px 70px;
  background-image: url("./images/list.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 3vw;
}

.benefits .hero-img {
  width: 50vw;
  text-align: center;
}

.benefits .hero-img img {
  width: 28vw;
  height: 75vh;
  object-fit: cover;
  border-radius: 20px;
}

.comments {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments .header {
  font-size: 20px;
  font-weight: 600;
  padding: 1em;
}

.comments .slider {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 238, 255, 1) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 2vw 0;
  align-items: center;
}

.comments .slider a > img {
  width: 50px;
  height: 50px;
  margin: 0 40px;
}

.comments .slider .comment {
  width: 40vw;
  height: 35vh;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-size: 20px;
  padding: 0.8em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments .slider .comment .title {
  font-weight: 600;
}

.comments .slider .comment .user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments .slider .comment .user-profile .photo {
  height: 80px;
  border-radius: 50%;
}
.comments .slider .comment .user-profile .user-info {
  display: flex;
  align-items: center;
}

.comments .slider .comment .user-profile .user-info .name-location {
  margin-left: 1em;
}
.comments .slider .comment .user-profile .user-info .name-location .user-name {
  font-weight: 600;
  margin-bottom: 0.3em;
}
.comments .slider .comment .user-profile .rating {
  height: 25px;
}

.footer {
  height: 40vh;
  background-color: #190422;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw;
}

.footer .left {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer .left ul {
  display: flex;
  gap: 3vw;
}

.footer .left ul li a {
  color: #fff;
}

.footer .left img {
  width: 200px;
}

.footer .left .socials {
  display: flex;
  gap: 1vw;
}

.footer .left .socials a i {
  font-size: 25px;
  color: #fff;
}

.footer .left .socials a {
  width: 30px;
  text-align: center;
}

.footer .right {
  display: flex;
  flex-direction: column;
}

.footer .right .form {
  position: relative;
}

.footer .right .label {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0.5em;
  padding-left: 0.2em;
}

.footer .right .form input {
  width: 35vw;
  height: 10vh;
  padding-left: 2em;
  font-size: 15px;
  border-radius: 6px;
  border-style: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.footer .right .form input:focus {
  outline: none;
}

.footer .right .form .button {
  position: absolute;
  right: 0;
  top: 0;
  height: 10vh;
  width: 150px;
  background-color: #d7b9fd;
  text-align: center;
  line-height: calc(10vh - 1px);
  font-weight: 600;
  font-size: 25px;
  border-radius: 6px;
}

.footer .right .form .button:hover {
  cursor: pointer;
}

.footer .right .download-container img {
  height: 7vh;
  margin-right: 1em;
}
.footer .right .download-container {
  margin-top: 5vh;
}

@media screen and (max-width: 1680px) {
  .background .hero-info .container h1 {
    font-size: 80px;
    display: block;
    margin: 0 auto;
  }

  .background .hero-info .container p {
    font-size: 22px;
    line-height: 35px;
  }

  .hero-2 .hero-info .container h1 {
    font-size: 48px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .comments .slider .comment .comment-text {
    font-size: 18px;
  }
  .comments .slider .comment .title {
    font-size: 18px;
  }
  .comments .slider .comment .user-profile {
    font-size: 18px;
  }
  .comments .slider .comment .user-profile .photo {
    width: 60px;
    height: 60px;
  }
  .comments .slider .comment .user-profile .rating {
    width: 100px;
    object-fit: contain;
  }
}

@media screen and (max-width: 1350px) {
  .background nav ul {
    display: none;
    flex-direction: column;
  }
  .background nav i {
    display: block;
    font-size: 3vw;
    color: #fff;
  }
  .background .hero .hero-info .container h1 {
    font-size: 70px;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .background {
    height: 60vh;
  }
  .background .hero {
    height: 50vh;
  }
  .background .hero .hero-info .container h1 {
    font-size: 50px;
  }
  .background .hero .hero-info .container p {
    font-size: 20px;
  }

  .statistics .number {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
  .statistics .number .plus {
    color: #bc8afc;
    font-size: 30px;
    font-weight: 700;
  }

  .statistics .text {
    font-size: 20px;
    line-height: 50px;
  }

  .hero-2 {
    height: 70vh;
  }
  .hero-2 .hero-info h1 {
    font-size: 60px;
    display: block;
    margin: 0 auto;
  }

  .hero-2 .hero-info .container h1 {
    font-size: 35px;
  }

  .hero-2 .hero-info span {
    white-space: nowrap;
  }
  .hero-2 .hero-info .container p {
    font-size: 20px;
  }
  .hero-2 .hero-img img {
    width: 35vw;
    height: 50vh;
  }

  .service {
    height: 60vh;
  }

  .service .container {
    row-gap: 0vh;
    line-height: 33px;
  }

  .service .container .content .img-container {
    width: 70px;
    height: 70px;
    line-height: 99px;
  }

  .service .container .content .img-container img {
    width: 40px;
    height: 40px;
  }

  .download::before {
    height: 20vh;
  }

  .download .background > img {
    right: 5vw;
  }

  .download .background .container .slogan {
    width: calc(100vw - 25rem);
  }

  .download .background .platforms img {
    height: 50px;
  }

  .benefits {
    height: 60vh;
  }

  .benefits .hero-img img {
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
  }

  .comments .slider .comment-2 {
    display: none;
  }

  .comments .slider .comment {
    width: 80vw;
    justify-content: space-around;
  }
  .comments .slider .comment .title {
    font-size: 30px;
  }
  .comments .slider .comment .comment-text {
    font-size: 24px;
  }
  .comments .slider .comment .user-profile {
    font-size: 23px;
  }
  .comments .slider .comment .user-profile .photo {
    width: 90px;
    height: 90px;
  }
  .comments .slider .comment .user-profile .rating {
    width: 130px;
    object-fit: contain;
  }

  .footer {
    height: 40vh;
    background-color: #190422;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
  }

  .footer .left {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50vw;
  }

  .footer .left ul {
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .footer .left img {
    width: 100px;
  }
  .footer .right {
    width: 45vw;
  }
  .footer .right .form input {
    height: 5vh;
  }

  .footer .right .form .button {
    line-height: calc(5vh - 1px);
    height: 5vh;
  }

  .footer .right .download-container img {
    height: 5vh;
  }
  .footer .right .download-container {
    display: flex;
    margin-top: 3vh;
  }
}
